/* Masthead */
header {
	position: relative;
}

header h1 {
	position: absolute;
	left: 48px;
	bottom: 0;
	font-size: 2em;
}

.panel.callout {
	background: blue;
}

.tabs-content {
	border: 1px solid black;
	border-top: none;
	padding: 10px;
}